<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>        
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://d3js.org/d3-dsv.v2.min.js"></script>
        <script src="https://d3js.org/d3-fetch.v2.min.js"></script>
        <script src="{{url_for('static', filename='assets/js/dashboard.js')}}"></script>
    </head>

    <body>
        <h2>HELLO</h2>

        <canvas id="myChart" width="200" height="200"></canvas>

    </body>



</html>
